FRONTEND_URL=http://localhost:3000
NEXT_PUBLIC_BACKEND_URL=http://localhost:8000
NEXT_BACKEND_URL=http://web:80
NODE_ENV=develop # production

JWT_SECRET=SUPER_SECRET_KEY

COOKIES_BACKEND_XSRF_KEY=XSRF-TOKEN
COOKIES_BACKEND_SESSION_KEY=molmedb_session
COOKIES_FRONTEND_SESSION_KEY=molmedb_fe_session
COOKIES_FRONTEND_SESSION_USER_KEY=molmedb_fe_session_user